<template name="Footer">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">
                        Use, Contribute, Share {{> AppGitLink}}
                    </h5>
                    <p class="grey-text text-lighten-4">
                        May we eclipse the angular sun.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">© 2016 Copyright Text</div>
        </div>
    </footer>
</template>