<template name="ComponentBlazeListionItemOptions">
    <h2 class="header">ionItemOptions</h2>
    <p>
        Wraps all <code>ionOptionButton</code>. This is hidden at first. Having this non-empty and setting
        <code>ionList</code>'s <code>canSwipe</code> attribute to <code>true</code>
        will allow <code>ionItemContent</code> to be swiped left and display <code>ionOptionButton</code>.
    </p>

    <p>
        <code>ionItem</code> will automatically calculate the <code>ionItemOptions</code> width to et
        swipe distance of <code>ionItemContent</code>.
    </p>

    {{#Snippet}}{{{snippet_1}}}{{/Snippet}}
</template>