<template name="ComponentCssListIcons">
    <h2 class="header">List Icons</h2>

    <p>
        Lists can have icons assigned either to the left and/or
        right side of each list code>item, and the alignment classes
        should be assigned to each <code>item</code> element. Icons can easily
        be added to any item by using either the built in
        Ionicons, or any custom font-pack you choose.
        <a>Learn more about icons</a>.
    </p>

    <p>
        Use <code>item-icon-left</code> to line up the icon to the left,
        and <code>item-icon-right</code> to set the icon to the right.
        When a list item has an icon on both sides then
        both classes will need to be applied.
    </p>

    <p>
        This example uses an <code>&lt;a&gt;</code> element for each item,
        which allows the entire list item to be tappable.
        If the item is an <code>&lt;a&gt;</code> or <code>&lt;button&gt;</code> element,
        and no icon has been added to the right,
        then a small right arrow will automatically be added.
    </p>

    <p>
        In the example, the first item only has a left aligned icon.
        The second item has both left and right side icons.
        The third item has a left aligned icon and an <code>item-note</code>.
        The fourth icon has added a <code>badge</code> element.
    </p>

    {{#Snippet}}{{{snippet_1}}}{{/Snippet}}
</template>