<template name="ComponentCssListInsetLists">
    <h2 class="header">Inset Lists</h2>

    <p>
        Lists can also be inset inside their container,
        instead of going full width. The main difference
        is that a <code>list list-inset</code> element has margin.
        An inset list is similar to a <code>card</code>, except an
        inset list does not have a <code>box-shadow</code>.
        Since <code>list list-inset</code> does not have a <code>box-shadow</code>,
        it'll be more performant when scrolling.
        Inset forms shows other examples of its usage.
    </p>

    {{#Snippet}}{{{snippet_1}}}{{/Snippet}}
</template>