<template name="ComponentCssFooter">
    <h2 class="header">Footer</h2>

    <p>
        Footers are regions at the bottom of a screen that can contain various
        types of content.
    </p>

    {{#Snippet}}{{{snippet_1}}}{{/Snippet}}

    <p>
        Footers have the same color options as the headers, just use bar-footer
        instead of bar-header. If a title is present in the footer, any buttons
        will automatically be placed on the correct side of the title in relation
        to how the markup was written, such as:
    </p>

    {{#Snippet}}{{{snippet_2}}}{{/Snippet}}

    <p>
        Additionally, if no title is present and a right side button is required,
        you'll need to add pull-right to the right side button, such as:
    </p>

    {{#Snippet}}{{{snippet_3}}}{{/Snippet}}
</template>