<template name="Home">
    <aside>
        <ul id="side-nav"
            class="side-nav fixed table-of-contents">
            <img src="meteoric-ionic.svg" class="logo"
                 style="width: 200px; margin: 20px;"/>
        </ul>
    </aside>
    <div class="row">
        <div class="content col l7 s12" data-section="main">
            <div data-section="overview">
                <div data-section="installation" class="section">{{> ComponentInstallation}}</div>
                <div data-section="css/sass" class="section">{{> ComponentCSSSASS}}</div>
                <div data-section="about" class="section">{{> ComponentAbout}}</div>
            </div>
            <div data-section="css" data-side-nav-collapse>
                <div data-section="header" class="section">{{> ComponentCssHeader}}</div>
                <div data-section="content" class="section">{{> ComponentCssContent}}</div>
                <div data-section="footer" class="section">{{> ComponentCssFooter}}</div>
                <div data-section="buttons" class="section" data-side-nav-collapse>
                    {{> ComponentCssButtons}}

                    <div data-section="block" class="section">{{> ComponentCssButtonBlock}}</div>
                    <div data-section="full-width" class="section">{{> ComponentCssButtonFullWidth}}</div>
                    <div data-section="sizes" class="section">{{> ComponentCssButtonDifferentSizes}}</div>
                    <div data-section="outlined" class="section">{{> ComponentCssButtonOutlined}}</div>
                    <div data-section="clear" class="section">{{> ComponentCssButtonClear}}</div>
                    <div data-section="icons" class="section">{{> ComponentCssButtonIcons}}</div>
                    <div data-section="headers/footers" class="section">{{> ComponentCssButtonHeadersFooters}}</div>
                    <div data-section="bar" class="section">{{> ComponentCssButtonBar}}</div>
                </div>
                <div data-section="list" class="section" data-side-nav-collapse>
                    {{> ComponentCssList}}

                    <div data-section="divider" class="section">{{> ComponentCssListDivider}}</div>
                    <div data-section="icons" class="section">{{> ComponentCssListIcons}}</div>
                    <div data-section="buttons" class="section">{{> ComponentCssListButtons}}</div>
                    <div data-section="avatars" class="section">{{> ComponentCssListAvatars}}</div>
                    <div data-section="thumbnails" class="section">{{> ComponentCssListThumbnails}}</div>
                    <div data-section="lists" class="section">{{> ComponentCssListInsetLists}}</div>
                </div>
            </div>
            <div data-section="blaze" data-side-nav-collapse>
                <div data-section="list" class="section" data-side-nav-collapse>
                    <div data-section="ionList" class="section">{{> ComponentBlazeList}}</div>
                    <div data-section="ionItem" class="section">{{> ComponentBlazeListionItem}}</div>
                    <div data-section="ionItemContent" class="section">{{> ComponentBlazeListionItemContent}}</div>
                    <div data-section="ionItemOptions" class="section">{{> ComponentBlazeListionItemOptions}}</div>
                    <div data-section="ionOptionButton" class="section">{{> ComponentBlazeListionOptionButton}}</div>
                    <div data-section="ionDeleteButton" class="section">{{> ComponentBlazeListionDeleteButton}}</div>
                    <div data-section="ionReorderButton" class="section">{{> ComponentBlazeListionReorderButton}}</div>
                </div>
                <div data-section="scroll" class="section" data-side-nav-collapse>
                    <div data-section="ionScroll" class="section">{{> ComponentBlazeScrollionScroll}}</div>
                    <div data-section="ionInfiniteScroll" class="section">{{> ComponentBlazeScrollionInfiniteScroll}}</div>
                </div>
                <div data-section="side-menu" class="section" data-side-nav-collapse>
                    <div data-section="ionSideMenuContainer" class="section">{{> ComponentBlazeSideMenusionSideMenuContainer}}</div>
                    <div data-section="ionSideMenus" class="section">{{> ComponentBlazeSideMenusionSideMenus}}</div>
                    <div data-section="ionSideMenu" class="section">{{> ComponentBlazeSideMenusionSideMenu}}</div>
                </div>
            </div>
        </div>

        <aside class="col l5 hide-on-med-and-down virtual-mobile-device">
            <div>{{> VirtualMobileDevice src=device_src}}</div>
        </aside>
    </div>
</template>