<template name="Home">
    <aside>
        <ul id="side-nav"
            class="side-nav fixed table-of-contents">
            <img src="meteoric-ionic.svg" class="logo"
                 style="width: 200px; margin: 20px;"/>
            <li><a href="#header" class="waves-effect waves-teal">Header</a></li>
            <li><a href="#content" class="waves-effect waves-teal">Content</a></li>
            <li><a href="#footer" class="waves-effect waves-teal">Footer</a></li>
            <li class="bold">
                <a class="waves-effect waves-teal" href="#buttons">Buttons</a>
                <div>
                    <ul id="side-nav-buttons">
                        <li><a href="#buttons-block">Block</a></li>
                        <li><a href="#buttons-full-width">Full Width</a></li>
                        <li><a href="#buttons-different-sizes">Different Sizes</a></li>
                        <li><a href="#buttons-outlined">Outlined</a></li>
                        <li><a href="#buttons-clear">Clear</a></li>
                        <li><a href="#buttons-icons">Icons</a></li>
                        <li><a href="#buttons-header-and-footers">Headers/Footers</a></li>
                        <li><a href="#buttons-button-bar">Button Bar</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold">
                <a class="waves-effect waves-teal" href="#list">List</a>
                <div>
                    <ul id="side-nav-list">
                        <li><a href="#list-divider">Divider</a></li>
                        <li><a href="#list-icons">Icons</a></li>
                        <li><a href="#list-buttons">Buttons</a></li>
                        <li><a href="#list-avatars">Avatars</a></li>
                        <li><a href="#list-thumbnails">Thumbnails</a></li>
                        <li><a href="#list-inset-lists">Inset Lists</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>
    <div class="row">
        <div class="content col s7">
            <div id="header" class="section scrollspy-main">{{> ComponentHeader}}</div>
            <div id="content" class="section scrollspy-main">{{> ComponentContent}}</div>
            <div id="footer" class="section scrollspy-main">{{> ComponentFooter}}</div>
            <div id="buttons" class="section scrollspy-main">
                {{> ComponentButtons}}

                <div id="buttons-block" class="section scrollspy-buttons">{{> ComponentButtonBlock}}</div>
                <div id="buttons-full-width" class="section scrollspy-buttons">{{> ComponentButtonFullWidth}}</div>
                <div id="buttons-different-sizes" class="section scrollspy-buttons">{{> ComponentButtonDifferentSizes}}</div>
                <div id="buttons-outlined" class="section scrollspy-buttons">{{> ComponentButtonOutlined}}</div>
                <div id="buttons-clear" class="section scrollspy-buttons">{{> ComponentButtonClear}}</div>
                <div id="buttons-icons" class="section scrollspy-buttons">{{> ComponentButtonIcons}}</div>
                <div id="buttons-header-and-footers" class="section scrollspy-buttons">{{> ComponentButtonHeadersFooters}}</div>
                <div id="buttons-button-bar" class="section scrollspy-buttons">{{> ComponentButtonBar}}</div>
            </div>
            <div id="list" class="section scrollspy-main">
                {{> ComponentList}}

                <div id="list-divider" class="section scrollspy-list">{{> ComponentListDivider}}</div>
                <div id="list-icons" class="section scrollspy-list">{{> ComponentListIcons}}</div>
                <div id="list-buttons" class="section scrollspy-list">{{> ComponentListButtons}}</div>
                <div id="list-avatars" class="section scrollspy-list">{{> ComponentListAvatars}}</div>
                <div id="list-thumbnails" class="section scrollspy-list">{{> ComponentListThumbnails}}</div>
                <div id="list-inset-lists" class="section scrollspy-list">{{> ComponentListInsetLists}}</div>
            </div>
        </div>

        <aside class="col s4 virtual-mobile-device">
            <div>{{> VirtualMobileDevice src=device_src}}</div>
        </aside>
    </div>
</template>