<template name="ComponentBlazeSideMenusionSideMenu">
    <h2 class="header">ionSideMenu</h2>

    <p>A container for a side menu, sibling to an <a href="">ionSideMenuContent</a> directive.</p>

    <p>For complete example see <a href="">ionSideMenuContainer</a>.</p>

    <h5>Usage:</h5>
    {{#Snippet}}{{{snippet_1}}}{{/Snippet}}

    <br>

    <h5>API</h5>
    <table class="bordered highlight responsible-table">
        <thead>
        <tr>
            <th>Attr</th>
            <th>Type</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>side</td>
            <td><code>string</code></td>
            <td>
                Which side the side menu is currently on. Allowed values: 'left' or 'right'.
            </td>
        </tr>
        </tbody>
    </table>
</template>