<template name="ComponentBlazeSideMenusionSideMenus">
    <h2 class="header">ionSideMenus</h2>

    <p>
        A container element for side menu(s) and the main content. Allows the left and/or right side menu
        to be toggled by dragging the main content area side to side.
    </p>

    <p>
        This is usually housed by <a href="">ionSideMenuContainer</a>. It also contains a complete usage example.
    </p>

    <br>

    <h5>Usage:</h5>
    {{#Snippet}}{{{snippet_1}}}{{/Snippet}}
</template>