<template name="ComponentAbout">
    <h2 class="header">About Meteoric</h2>

    <p>
        Need ionic but like the simplicity and power of blaze. Meteoric is your friend.
    </p>
    <p>
        Started by <a href="https://twitter.com/nwientge">Nick Wientge</a> as a port of angular ionic to meteor,
        without the angular. The project became relatively popular in the Meteor community. Recently, Nick discontinued
        support for the project.
    </p>
    <p>
        That is where I (Joey Andres) comes in. I love tweaking and working on projects in general.
        I needed a challenge. Something that will make me look forward going home after work. Meteoric
        was begging for an perpetual manic to be its maintainer, and I come to the rescue.
    </p>
</template>