<template name="ComponentHeader">
    <h2 class="header">Header</h2>

    <p>
        Headers are fixed regions at the top of a screen that can contain a title label, and
        <a>left/right buttons</a> for navigation or to carry out various actions.

        Headers come in a variety of default <a>color options</a>:
    </p>

    {{#_BarSnippet title="bar-light" bar_classes="bar-light"}}
        {{{bar_snippet 'light'}}}
    {{/_BarSnippet}}
    {{#_BarSnippet title="bar-stable" bar_classes="bar-stable"}}
        {{{bar_snippet 'stable'}}}
    {{/_BarSnippet}}
    {{#_BarSnippet title="bar-positive" bar_classes="bar-positive white-text"}}
        {{{bar_snippet 'positive'}}}
    {{/_BarSnippet}}

    {{#_BarSnippet title="bar-calm" bar_classes="bar-calm white-text"}}
        {{{bar_snippet 'calm'}}}
    {{/_BarSnippet}}
    {{#_BarSnippet title="bar-balanced" bar_classes="bar-balanced white-text"}}
        {{{bar_snippet 'balanced'}}}
    {{/_BarSnippet}}
    {{#_BarSnippet title="bar-energized" bar_classes="bar-energized white-text"}}
        {{{bar_snippet 'energized'}}}
    {{/_BarSnippet}}
    {{#_BarSnippet title="bar-assertive" bar_classes="bar-assertive white-text"}}
        {{{bar_snippet 'assertive'}}}
    {{/_BarSnippet}}
    {{#_BarSnippet title="bar-royal" bar_classes="bar-royal white-text"}}
        {{{bar_snippet 'royal'}}}
    {{/_BarSnippet}}
    {{#_BarSnippet title="bar-dark" bar_classes="bar-dark white-text"}}
        {{{bar_snippet 'dark'}}}
    {{/_BarSnippet}}

    <br>

    <h2 class="header">Sub Header</h2>
    <p>
        A secondary header bar can be placed below the original header bar.
        There are quite a few more ways to customize Headers. Have a look at
        <a>Button Bars</a> to get other ideas on how it could be used.
    </p>

    {{#Snippet}}
        {{{sub_header_snippet}}}
    {{/Snippet}}

    <p><s>
        Also, remember to include the has-subheader CSS class to your ion-content
        directive.
    </s></p>
</template>

<template name="_BarSnippet">
    <div class="card hoverable">
        <div class="ionic">
            <div class="bar bar-header {{bar_classes}}">
                <h1 class="h1 title">{{title}}</h1>
            </div>
        </div>
        <div class="code-container {{container_classes}}">{{> UI.contentBlock}}</div>
    </div>
</template>