<template name="ComponentInstallation">
    <h2 class="header">Installation</h2>

    To install meteoric:
    {{#Snippet}}meteor add jandres:ionic{{/Snippet}}

    To install css/sass, aka meteoric-sass:
    {{#Snippet}}meteor add jandres:meteoric-sass{{/Snippet}}

    For the scss compiler:
    {{#Snippet}}meteor add fourseven:scss@3.3.3{{/Snippet}}

    <blockquote>
        Note: I'm communicating with the original meteoric owner to transfer ownership at the moment, hence the awkward name jandres:ionic instead of meteoric:meteoric.
    </blockquote>
</template>