<template name="ComponentListThumbnails">
    <h2 class="header">Item Thumbnails</h2>

    <p>
        Item Thumbnails are essentially a showcase of an image
        larger than an icon, and will often span/define the entire
        height of the list item. To create a thumbnail styled item,
        use the <code>item-thumbnail-left</code> to have it align on the left,
        and <code>item-thumbnail-right</code> for the right side.
    </p>

    {{#Snippet}}{{{snippet_1}}}{{/Snippet}}
</template>