<template name="ComponentCssButtonIcons">
    <h2 class="header">Icon Buttons</h2>

    <p>
        Icons can easily be added to any button by using either the built in Ionicons,
        or any custom font-pack you choose. <a>Learn more about icons.</a>
    </p>
    <p>
        Icons can also be set with a child element inside the button, however,
        assigning the icon directly to the button reduces the number of elements in the DOM.
    </p>

    {{#Snippet}}
        {{{snippet_1}}}
    {{/Snippet}}
</template>