<template name="ComponentCssButtonOutlined">
    <h2 class="header">Outlined Buttons</h2>

    <p>
        Use <a>button-outline</a> to apply an outline button style,
        which also has a transparent background.
    </p>
    <p>
        <b>Note:</b> The text and border will take the color of the applied
        button style, meaning <a>button-positive</a> will result in blue
        text and border, with a transparent background.
    </p>

    {{#Snippet}}
        {{{snippet_1}}}
    {{/Snippet}}
</template>